{% extends 'base.html' %}

{% block javascript %}
<script>
$("#id_username").change(function () {
  var username = $(this).val();
  $.ajax({
    url: '/ajax/validate_username/',
    data: {
      'username': username
    },
    dataType: 'json',
    success: function(data){
      if (data.is_taken == false){
        alert("Username does not exist");
      }
    }
  });
});
</script>
{% endblock %}


{% block content %}
<center>
  <div class="loginmain"><h1>Login</h1></div>
  <div class="login">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  </div>
</center>
{% endblock %}
